.cigar {
  top: 2%;
  left: 5%;
  width: 250px;
  aspect-ratio: 1;
  position: absolute;
}

.container {
  border: none;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 1em 1.5em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.start-btn {  
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  padding: .5rem 1rem;
  background: #1cb636;
  font-family: "Verdana", sans-serif;
}

.start-btn:hover {
  cursor: pointer;
  background: #47038a;
  text-decoration: underline;
}

.msg {
  color: red;
}